<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOGSTASH_HOST" source="LOGSTASH_TCP_HOST" defaultValue="logstash"/>
    <springProperty name="LOGSTASH_PORT" source="LOGSTASH_TCP_PORT" defaultValue="50000"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"element-payment-service"}</customFields>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"element-payment-service"}</customFields>
        </encoder>
        <reconnectionDelay>5 second</reconnectionDelay>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
